*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1.1em;
}

.header, .footer{
    background-color: #B9CC73;
    width: 100%;
    height: 120px;
}

.main{
    margin: auto;
    width: 70%;
}

.text1{
    background-color: #6969E2;
    width: 40%;
    float: left;
    padding-bottom: 23%;
}

.text2{
    background-color: #D379D6;
    width: 100%;
    clear: left;
    padding-bottom: 25%;
}

.foto{
    position: relative;
    width: 60%;
    float: left;
}

.foto img{
    width: 100%;
}

.text3{
    position: absolute;
    top: 0;
    background: rgba(129, 128, 128, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}


@media screen and (max-width: 800px) {
    .main{
        width: 100%;
    }
    .text1{
        width: 100%;
        height: 7vh;
        margin-top: 23vh;
    }
    .foto{
        width: 100%;
        position: absolute;
    }
}



